<h2>My Events</h2>

<div>
  <label for="new-event_o">Event Organizer: </label>
  <input id="new-event_o" type="number" #eventOrganizer />
  <label for="new-event_v">Event Venue: </label>
  <input id="new-event_v" #eventVenue />
  <label for="new-event_d">Event Description: </label>
  <input id="new-event_d" #eventDescription />
  <label for="new-event_t">Event Type: </label>
  <input id="new-event_t" #eventType />
  <label for="new-event_s">Event Start time: </label>
  <input id="new-event_s" type="datetime-local" #eventStarttime />
  <label for="new-event_e">Event End time: </label>
  <input id="new-event_e" type="datetime-local" #eventEndtime />
  <button class="add-button" (click)="add(eventOrganizer.valueAsNumber, eventDescription.value, eventType.valueAsNumber, eventVenue.valueAsNumber, eventStarttime.value, eventEndtime.value);">
    Add event
  </button>
</div>

<ul class="events">
  <li *ngFor="let event of events">
    <a routerLink="/detail/{{event.id}}">
      <span class="badge">{{event.organizer_id}}</span> {{event.description}}
    </a>
    <button class="delete" title="delete event"
            (click)="delete(event)">x</button>
  </li>
</ul>
