<div *ngIf="eventDetail">

  <h2>{{eventDetail.description | uppercase}} Details</h2>
  <div>
    <label>Event id: {{eventDetail.id}}</label>
    <p></p>
    <label>Event Organizer: </label>
    <label> {{eventDetail.organizer.name}} </label>
    <p></p>
    <label>Event Description: </label>
    <label> {{eventDetail.description}} </label>
    <p></p>
    <label>Event Venue: </label>
    <label> {{eventDetail.venue.street}}, {{eventDetail.venue.unit}}, {{eventDetail.venue.city}}, {{eventDetail.venue.state}}, {{eventDetail.venue.postal_code}}</label>
    <p></p>
    <label>Event Type: </label>
    <label>{{eventDetail.type.name}}, {{eventDetail.type.description}} </label>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="join()">Join</button>
</div>
